.container {
  display: inline-flex;
  flex: 1;

  .select {
    appearance: none;
    background-color: unset;

    padding: var(--spacing-xs);

    border-radius: var(--radius-s);
    cursor: pointer;
    text-align: center;

    font-family: var(--font-display);
  }
}
