.button {
  padding: var(--spacing-s) var(--spacing-regular);
  font-family: var(--font-display);

  font-weight: bold;

  &.primary {
    border-color: transparent;
    color: white;
    background-color: black;
  }
}
