.container {
  display: flex;
  gap: var(--spacing-l);

  > * {
    flex: 1;
  }

  .year-selector-container {
    display: flex;
    gap: var(--spacing-xxs);

    > button {
      flex-shrink: 0;
      padding: var(--spacing-xs);

      // background-color: var(--color-primary);
      // color: white;

      svg {
        width: 1.5em;
        fill: currentColor;
      }
    }

    select {
      flex: 1;
    }
  }
}
