.container {
  display: flex;
  gap: var(--spacing-regular);

  > * {
    flex: 1;
  }

  .year-selector-container {
    display: flex;

    > button {
      // flex-shrink: 0;
      padding: var(--spacing-xs);

      &:first-of-type {
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
      }

      &:last-of-type {
        border-top-left-radius: unset;
        border-bottom-left-radius: unset;
      }

      background-color: var(--color-primary);
      color: white;

      svg {
        width: 1.5em;
        fill: currentColor;
      }
    }

    select {
      flex: 1;
      border-radius: unset;
    }
  }
}
