.playlist-item {
  padding: 8px 16px;

  // border: 1px solid black;

  display: flex;
  gap: var(--spacing-s);
  align-items: center;

  border-radius: var(--radius-small);
  background-color: rgba(black, 0.02);

  .left {
    aspect-ratio: 1/1;
    width: 40px;
    height: 40px;

    border-radius: var(--radius-small);

    background-color: rgba(black, 0.4);
  }

  .title {
    font-weight: 500;
  }

  .artist-container {
    font-size: var(--font-size-s);
  }
}
