.playlist-item {
  padding: 8px 16px;

  display: flex;
  // gap: var(--spacing-s);
  gap: var(--spacing-xxs);
  align-items: center;

  border-radius: var(--radius-s);
  background-color: rgba(black, 0.05);

  .index {
    color: rgba(black, 0.8);
    min-width: 2ch;
  }

  .left {
    aspect-ratio: 1/1;
    width: 40px;
    height: 40px;
    margin-right: var(--spacing-xs);

    border-radius: var(--radius-s);
    background-color: rgba(black, 0.3);
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxxs);
    overflow: hidden;

    .title {
      font-weight: 500;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      .mock-title {
        display: inline-flex;
        width: 5em;
        border-radius: var(--radius-large);

        background-color: rgba(black, 0.3);
      }
    }

    .artist-container {
      font-size: var(--font-size-s);

      display: flex;
      gap: var(--spacing-xxs);
      overflow: hidden;

      .artist {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      &.mock-artist-container {
        background-color: rgba(black, 0.3);
        border-radius: var(--radius-regular);

        width: 8em;
      }
    }
  }
}
